/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'GET_CHROMOMOSOME_SIZES' {
        publishDir = [
                path: { "${params.outdir}/chromosome_sizes" },
                enabled: false
        ]
    }

    withName: 'SAMTOOLS_VIEW' {
        ext.args = "-b -h"
        ext.args2 = " chr1 chr2 chr3 chr4 chr5 chr6 chr7 chr8 chr9 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19 chr20 chr21 chr22 chrX chrY chrM "
        publishDir = [
                path: { "${params.outdir}/bam_prepared" },
                enabled: false
        ]
    }

    withName: 'SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}_sorted" }
        publishDir = [
                path: { "${params.outdir}/bam_prepared" },
                enabled: true
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        ext.prefix = { "${meta.id}_sorted" }
        publishDir = [
                path: { "${params.outdir}/bam_prepared" },
                enabled: true
        ]
    }

    withName: 'BEDTOOLS_INTERSECT' {
        ext.prefix = { "${meta.id}_filtered_mutated_regions" }
        ext.suffix = "bam"
        publishDir = [
                path: { "${params.outdir}/bam_filtered_mutated_regions" },
                enabled: true
        ]
    }

}
